.jumbotron {
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.table {
  margin-top: 20px;
}
.form-control {
  margin-top: 10px;
  margin-bottom: 5px;
}

.btn-group {
  margin: 10px;
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

body {
  font-family: "Lato", sans-serif;
  background-color: #e9ecf0;
}

.navigation {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1d1d1d;
  overflow-x: hidden;
  padding-top: 20px;
}

.navigation a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #aca9a9;
  display: block;
}

.navigation {
  width: 300px;
}

.navigation a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .navigation {
    padding-top: 15px;
  }
  .navigation a {
    font-size: 18px;
  }
}

.mainmenu {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.mainmenu a:hover {
  background-color: #1b1b1b;
}

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

.submenu {
  list-style: none;
  padding-left: 3px;
  font-size: 16px;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

.submenu a {
  background-color: #423f3f;
}

.submenu a:hover {
  background-color: #423f3f;
}

/************************Login****************************/

.login-container {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.login-form-1 {
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3 {
  text-align: center;
  color: #333;
}
.login-form-2 {
  padding: 5%;
  background: #0062cc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3 {
  text-align: center;
  color: #fff;
}
.login-container form {
  padding: 10%;
}
.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}
.login-form-2 .btnSubmit {
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
}
.login-form-2 .ForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form-1 .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}

.tableButton {
  text-align: center;
}
.tableContainer img,
.tableContainer .tableButton button {
  width: 520px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.selected {
  background-color: #423f3f;
}
