<div class="jumbotron" ng-controller="userController">
  <h3>Novo Usuário</h3>
  <form name="userForm">
    <input
      class="form-control"
      type="text"
      ng-model="user.nome"
      placeholder="Nome"
      name="name"
      ng-required="true"
    />
    <input
      class="form-control"
      type="password"
      ng-model="user.password"
      placeholder="Senha"
      name="password"
      ng-required="true"
    />
    <input
      class="form-control"
      type="text"
      ng-model="user.dt_nascimento"
      placeholder="Data de nascimento"
      name="birthday"
      ng-required="true"
    />
    <input
      class="form-control"
      type="text"
      ng-model="user.celular"
      placeholder="Telefone"
      name="phone"
      ng-required="true"
    />
    <select
      class="form-control browser-default custom-select"
      ng-model="user.fase"
      ng-required="true"
    >
      <option selected>Fase</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">4</option>
      <option value="4">5</option>
      <option value="5">6</option>
      <option value="6">7</option>
      <option value="7">8</option>
      <option value="8">9</option>
      <option value="9">10</option>
    </select>
    <select
      class="form-control browser-default custom-select"
      ng-model="user.tipo"
      ng-required="true"
    >
      <option selected>Tipo de usuario</option>
      <option value="M">Monitorando</option>
      <option value="A">Administrador</option>
      <option value="L">Analista</option>
    </select>
    <input
      class="form-control"
      type="email"
      ng-model="user.email"
      placeholder="Email"
      name="email"
      ng-required="true"
    />
    <input
      class="form-control"
      type="text"
      ng-model="user.trabalho"
      placeholder="Trabalho"
      name="job"
      ng-required="true"
    />
    <input
      class="form-control"
      type="text"
      ng-model="user.orientador"
      placeholder="Orientador"
      name="advisor"
      ng-required="true"
    />
    <select
      class="form-control"
      ng-controller="courseController"
      ng-model="user.id_curso"
      ng-options="course.id as course.nome for course in courses"
      name="course"
      ng-required="true"
    >
      <option selected disabled value="">Selecione o curso</option>
    </select>
    <select
      class="form-control browser-default custom-select"
      ng-model="user.sexo"
      ng-required="true"
    >
      <option selected>Sexo</option>
      <option value="M">Masculino</option>
      <option value="F">Feminino</option>
    </select>
  </form>
  <div
    ng-show="userForm.nome.$error.required && userForm.nome.$dirty"
    class="alert alert-danger"
  >
    Por favor, preecha o nome!
  </div>
  <div
    ng-show="userForm.password.$error.required && userForm.password.$dirty"
    class="alert alert-danger"
  >
    Por favor, preencha a senha!
  </div>
  <div
    ng-show="userForm.dt_nascimento.$error.required && userForm.dt_nascimento.$dirty"
    class="alert alert-danger"
  >
    Por favor, preencha a data de nascimento!
  </div>
  <div
    ng-show="userForm.orientador.$error.required && userForm.orientador.$dirty"
    class="alert alert-danger"
  >
    Por favor, preencha o orientador!
  </div>
  <div
    ng-show="userForm.fase.$error.required && userForm.fase.$dirty"
    class="alert alert-danger"
  >
    Por favor, preencha a fase!
  </div>
  <div ng-show="userForm.nome.$error.minlenght" class="alert alert-danger">
    O nome deve possuir mais de 5 caracteres!
  </div>
  <div
    ng-show="userForm.celular.$error.required && userForm.celular.$dirty"
    class="alert alert-danger"
  >
    Por favor, preecha o telefone!
  </div>
  <div
    ng-show="userForm.email.$error.required && userForm.email.$dirty"
    class="alert alert-danger"
  >
    Por favor, preecha o email!
  </div>
  <div
    ng-show="userForm.email.$invalid && userForm.email.$dirty"
    class="alert alert-danger"
  >
    Por favor, preencha o email no formato correto!
  </div>
  <div>
    <button
      class="btn btn-primary btn-block"
      ng-click="addUser(user)"
      ng-disabled="userForm.$invalid"
    >
      Adicionar usuário
    </button>
  </div>
</div>
