<div>
  <nav class="navigation">
    <ul class="mainmenu">
      <li>
        <a href="">Usuarios</a>
        <ul class="submenu">
          <li><a href="#!/newuser">Adicionar Usuario</a></li>
          <li><a href="#!/users">Visualizar Usuarios</a></li>
        </ul>
      </li>
      <li>
        <a href="">Cursos</a>
        <ul class="submenu">
          <li><a href="#!/newcourse">Adicionar Curso</a></li>
          <li><a href="#!/courses">Visualizar Cursos</a></li>
        </ul>
      </li>
      <li>
        <a href="">Atividades</a>
        <ul class="submenu">
          <li><a href="#!/newactivity">Adicionar Atividade</a></li>
          <li><a href="#!/activities">Visualizar Atividades</a></li>
        </ul>
      </li>
      <li>
        <a href="">Agendas</a>
        <ul class="submenu">
          <li><a href="#!/newschedule">Adicionar nova Agenda</a></li>
          <li><a href="#!/schedules">Visualizar Agendas</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
